* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;

    display: flex;
    padding: 15px;
}
.container > * {
    border: 1px solid;
    padding: 5px;
    margin-right: 5px;
}
.container .rooms {
    width: 200px;
}
.container .messages {
    flex: 1;
    flex-direction: column;
    display: flex;
}
.messages .list {
    border: 1px solid;
    padding: 5px;
    margin-bottom: 5px;
    flex: 1;

    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}
.messages .new {
    display: flex;
}
.messages .new input {
    flex: 1;
    margin-right: 5px;
}

.container .users {
    width: 200px;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay > .username {
    padding: 30px;
    border-radius: 3px;
    background: whitesmoke;
    border: 1px solid gray;
}

.messages article {
    display: flex;
    align-items: baseline;
}
.messages article .user {
    margin-right: 15px;
    font-weight: bold;
    width: 100px;
}
.messages article .message {
    flex: 1;
}
.messages article .time {
    font-size: 0.7em;
}